In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup 
from time import sleep

In [12]:
driver = webdriver.Chrome("E:\\Lerning\\ML_project\\tools\\chromedriver")

In [13]:
driver.get("https://www.olx.in/motorcycles_c81")

In [14]:
li = driver.find_elements_by_class_name("EIR5N")
len(li)

20

In [15]:
brand = []
model = []
year = []
driven = []
price = []
discription = []
short_dis = []

for i in range(1,1000):
    back = True
    try:
        li = driver.find_elements_by_class_name("EIR5N")
        li[i].click()
    except:
        driver.get("https://www.olx.in/motorcycles_c81")
        sleep(3)
        for l in range(22,500,20):
            sleep(2)
            driver.find_element_by_xpath("//*[@id='container']/main/div/div/section/div/div/div[5]/div[2]/div/div[2]/ul/li["+str(l)+"]/div/button").click()
            sleep(3)

        li = driver.find_elements_by_class_name("EIR5N")
        li[i].click()
        print(li[i])
    

    try:
        sleep(3)
        el = driver.find_element_by_class_name("CBG3S")
        soup = BeautifulSoup(el.get_attribute("innerHTML"))
    except Exception as e:
        print(e,"  currunt Url:  ",driver.current_url)
        
        back = False
        driver.back()
        

    
    if back:
        try:
            pEl = driver.find_element_by_class_name("_2wMiF")
            pSoup = BeautifulSoup(pEl.get_attribute("innerHTML"))
            p = pSoup.find('span').text.replace('\n','')
            price.append(p)
        except:
            price.append(20000)
        try:
            sd = pSoup.find('h1').text.replace('\n','')
            short_dis.append(sd)
        except:
            short_dis.append("None")

        try:
            b = soup.find('span',attrs={"data-aut-id":"value_make"}).text.replace('\n','')
            brand.append(b)
        except:
            brand.append('None')
        try:
            m = soup.find('span',attrs={"data-aut-id":"value_model"}).text.replace('\n','')
            model.append(m)
        except:
            model.append('None')
        try:
            drive = soup.find('span',attrs={"data-aut-id":"value_mileage"}).text.replace('\n','')
            driven.append(drive)
        except:
            driven.append('0')

        try:
            y = soup.find('span',attrs={"data-aut-id":"value_year"}).text.replace('\n','')
            year.append(y)
        except:
            year.append('None')

        try:
            d = soup.find('div',attrs={"data-aut-id":"itemDescriptionContent"}).text.replace('\n')
            discription.append(d)
        except:
            discription.append('None')
        driver.back()
        print("brand: ",b,"Model: ",m,"price: ",p,"I: ",i)
        
        sleep(3)

brand:  Bajaj Model:  Pulsar price:  ₹ 59,500 I:  1
brand:  Royal Enfield Model:  Classic price:  ₹ 1,15,000 I:  2
brand:  Bajaj Model:  Avenger price:  ₹ 52,500 I:  3
brand:  KTM Model:  Others price:  ₹ 1,85,000 I:  4
brand:  Royal Enfield Model:  Others price:  ₹ 1,95,000 I:  5
brand:  Royal Enfield Model:  Classic price:  ₹ 60,000 I:  6
brand:  Hero Honda Model:  Splendor price:  ₹ 30,000 I:  7
brand:  Royal Enfield Model:  Thunderbird price:  ₹ 1,30,000 I:  8
brand:  TVS Model:  Others price:  ₹ 40,000 I:  9
brand:  Honda Model:  CBF Stunner price:  ₹ 30,000 I:  10
brand:  Bajaj Model:  Avenger price:  ₹ 45,000 I:  11
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/white-colour-single-owner-iid-1625402500
brand:  Hero Model:  Splendor price:  ₹ 52,000 I:  13
brand:  Hero Honda Model:  Passion price:  ₹ 25,000 I:  14
brand:  Yamaha Model:  FZ price:  ₹ 60,000 I:  15
brand:  Hero Honda Model:  Splendor price:  ₹ 62,000 I:  16
brand:  Bajaj Model:  Discover price:  ₹ 35,000 I:  17
brand:  Royal Enfield Model:  Thunderbird price:  ₹ 1,00,000 I:  18
brand:  Royal Enfield Model:  Thunderbird price:  ₹ 1,45,000 I:  19
<selenium.webdriver.remote.webelement.WebElement (session="8e9d82600e3272afaa7a0ee101f12e1a", element="0a0b5802-670c-4890-a1fa-296e564ca14c")>
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/cb-hornet-160r-bikes24--iid-1624182594
brand:  Other Brands Model:  Others price:  ₹ 56,700 I:  21
brand:  Bajaj Model:  Platina price:  ₹ 44,000 I:  22
brand:  KTM Model:  Others price:  ₹ 96,000 I:  23
brand:  Royal Enfield Model:  Classic price:  ₹ 1,39,999 I:  24
brand:  TVS Model:  Apache RTR price:  ₹ 55,000 I:  25
brand:  Hero Model:  CD Deluxe price:  ₹ 50,000 I:  26
brand:  TVS Model:  Apache RTR price:  ₹ 90,000 I:  27
brand:  Hero Model:  CD Deluxe price:  ₹ 61,000 I:  28
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/well-maintained-first-owner-bike-iid-1625402607
brand:  Royal Enfield Model:  Others price:  ₹ 1,95,000 I:  30
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/urgent-sale-iid-1625402570
brand:  Hero Honda Model:  Splendor price:  ₹ 30,000 I:  32
brand:  Royal Enfield Model:  Thunderbird price:  ₹ 1,30,000 I:  33
brand:  TVS Model:  Apache RTR price:  ₹ 1,09,000 I:  34
brand:  Royal Enfield Model:  Classic price:  ₹ 85,000 I:  35
brand:  Hero Model:  Passion price:  ₹ 58,000 I:  36
brand:  TVS Model:  Others price:  ₹ 40,000 I:  37
brand:  Honda Model:  CBF Stunner price:  ₹ 30,000 I:  38
brand:  Bajaj Model:  Avenger price:  ₹ 45,000 I:  39
brand:  Hero Model:  Splendor price:  ₹ 52,000 I:  40
brand:  Hero Honda Model:  Passion price:  ₹ 25,000 I:  41
brand:  Yamaha Model:  FZ price:  ₹ 60,000 I:  42
brand:  Hero Honda Model:  Splendor price:  ₹ 62,000 I:  43
brand:  Bajaj Model:  Discover price:  ₹ 35,000 I:  44
brand:  Bajaj Model:  Pulsar price:  ₹ 45,000 I:  45
brand:  TVS Model:  Apache RTR price:  ₹ 32,500 I:  46
brand:  Hero Honda Model:  Passion price:  ₹ 23,008 I:  47
brand:  Suzuki Model:  Gixxer price:  ₹ 75,000 I:  48
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/good-condition-iid-1625402367
brand:  Bajaj Model:  Pulsar price:  ₹ 1,25,000 I:  50
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/ktm-duke-200-for-urgent-sell-call-me-bro-iid-1625402351
brand:  Hero Model:  Others price:  ₹ 38,000 I:  52
brand:  Suzuki Model:  Gixxer price:  ₹ 1,74,000 I:  53
brand:  Bajaj Model:  Avenger price:  ₹ 9,999 I:  54
brand:  Royal Enfield Model:  Classic price:  ₹ 1,25,000 I:  55
brand:  Bajaj Model:  Pulsar price:  ₹ 10,000 I:  56
brand:  Royal Enfield Model:  Others price:  ₹ 1,90,000 I:  57
brand:  Bajaj Model:  Pulsar price:  ₹ 53,000 I:  58
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/avn-good-condition-iid-1625402268
brand:  Bajaj Model:  Others price:  ₹ 60,000 I:  60
brand:  Suzuki Model:  Others price:  ₹ 10,000 I:  61
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/vehicle-sale-iid-1625402193
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/pull-candisn-iid-1625402187
brand:  Bajaj Model:  Pulsar price:  ₹ 45,000 I:  64
brand:  Honda Model:  CB price:  ₹ 70,000 I:  65
brand:  Other Brands Model:  Others price:  ₹ 1,58,000 I:  66
brand:  Royal Enfield Model:  Classic price:  ₹ 1,75,000 I:  67
brand:  KTM Model:  Duke 200 price:  ₹ 98,000 I:  68
brand:  Yamaha Model:  Others price:  ₹ 76,000 I:  69
brand:  Royal Enfield Model:  Classic price:  ₹ 1,70,000 I:  70
brand:  Yamaha Model:  Others price:  ₹ 28,000 I:  71
brand:  Other Brands Model:  Others price:  ₹ 1,58,000 I:  72
brand:  TVS Model:  Others price:  ₹ 5,000 I:  73
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/royal-enfield-bullet-iid-1625402059
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/jila-bijnor-najibabad-iid-1625402045
brand:  Royal Enfield Model:  Classic price:  ₹ 1,35,000 I:  76
brand:  Royal Enfield Model:  Bullet price:  ₹ 1,00,000 I:  77
brand:  Honda Model:  CB price:  ₹ 30,000 I:  78
brand:  Bajaj Model:  Pulsar price:  ₹ 28,000 I:  79
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/platina-for-sale-iid-1625401876
brand:  Bajaj Model:  Others price:  ₹ 45,000 I:  81
brand:  Bajaj Model:  Avenger price:  ₹ 18,500 I:  82
brand:  Bajaj Model:  Pulsar price:  ₹ 92,000 I:  83
brand:  Royal Enfield Model:  Bullet price:  ₹ 1,20,000 I:  84
brand:  Bajaj Model:  Pulsar price:  ₹ 25,000 I:  85
brand:  Yamaha Model:  Others price:  ₹ 59,000 I:  86
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/new-for-sale-iid-1625401700
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/since19766-iid-1621469205
brand:  Royal Enfield Model:  Others price:  ₹ 2,30,000 I:  89
brand:  Yamaha Model:  FZ price:  ₹ 72,000 I:  90
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/bike-good-condition-iid-1625401695
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/new-bike-iid-1625401692
brand:  Suzuki Model:  Gixxer price:  ₹ 40,000 I:  93
brand:  Yamaha Model:  YZF R price:  ₹ 95,000 I:  94
brand:  Royal Enfield Model:  Classic price:  ₹ 1,05,000 I:  95
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/looking-for-hero-cd100-bike-iid-1625401623
brand:  Honda Model:  CBF Stunner price:  ₹ 19,500 I:  97
brand:  Yamaha Model:  Others price:  ₹ 18,999 I:  98
brand:  Royal Enfield Model:  Classic price:  ₹ 1,95,000 I:  99
brand:  TVS Model:  Apache RTR price:  ₹ 72,000 I:  100
brand:  Hero Honda Model:  Splendor price:  ₹ 20,000 I:  101
brand:  Honda Model:  CB price:  ₹ 86,000 I:  102
brand:  Hero Honda Model:  Glamour price:  ₹ 27,000 I:  103
Message: no such element: Unable to locate element: {"method":"css selector","selector":".CBG3S"}
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/suzuki-gixxer-sf-2017-11month-reg-iid-1625401481
brand:  Honda Model:  CB price:  ₹ 41,000 I:  105
brand:  TVS Model:  Apache RTR price:  ₹ 58,000 I:  106
brand:  Yamaha Model:  FZS price:  ₹ 94,999 I:  107
brand:  Hero Model:  Splendor price:  ₹ 54,000 I:  108
brand:  Bajaj Model:  Others price:  ₹ 24,000 I:  109
brand:  Bajaj Model:  Discover price:  ₹ 18,500 I:  110
brand:  Honda Model:  CB price:  ₹ 36,000 I:  111
brand:  KTM Model:  RC price:  ₹ 2,65,000 I:  112
brand:  Yamaha Model:  Others price:  ₹ 80,000 I:  113
brand:  Bajaj Model:  Pulsar price:  ₹ 33,000 I:  114
brand:  Honda Model:  CB price:  ₹ 40,000 I:  115
Message: script timeout
  (Session info: chrome=88.0.4324.190)
   currunt Url:   https://www.olx.in/item/urgent-sale-iid-1625401070
brand:  Royal Enfield Model:  Bullet price:  ₹ 1,45,000 I:  117
brand:  Yamaha Model:  FZ price:  ₹ 55,000 I:  118

WebDriverException: Message: unknown error: cannot determine loading status
from disconnected: Unable to receive message from renderer
  (Session info: chrome=88.0.4324.190)

In [16]:
import pandas as pd

In [17]:
data = pd.DataFrame({"brand":brand,"model":model,"KM":driven,"year":year,"price":price,"deiscription":discription,"sd":short_dis})
data

,brand,model,KM,year,price,deiscription,sd
0,Bajaj,Pulsar,"48,053 km",2016,"₹ 59,500",None,Single Owner. New Condition. Full Insurance. R...
1,Royal Enfield,Classic,"32,000 km",2016,"₹ 1,15,000",None,Look and ride like sports bike feel
2,Bajaj,Avenger,"37,417 km",2016,"₹ 52,500",None,Well maintained first owner bike.
3,KTM,Others,"21,500 km",2018,"₹ 1,85,000",None,2018 model duke 250
4,Royal Enfield,Others,"13,500 km",2019,"₹ 1,95,000",None,Royal endfield Himalayan BS4
...,...,...,...,...,...,...,...
95,Bajaj,Pulsar,"42,000 km",2014,"₹ 33,000",None,பஜாஜ் pulsar 150
96,Honda,CB,"63,400 km",2012,"₹ 40,000",None,Exchange with Yamaha FZ
97,Royal Enfield,Bullet,11 km,1992,"₹ 1,45,000",None,Royal enfield 350 standrd old model
98,Yamaha,FZ,"33,000 km",2016,"₹ 55,000",None,"FZ-16, version 1.0, 153cc, 5 years old bike in..."
99,Bajaj,Others,"50,000 km",2005,"₹ 25,000",None,New leni h bas

In [19]:
data1 = pd.read_csv("olx.csv")

In [20]:
data=pd.concat([data1,data],ignore_index=True)
data.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1.1', 'brand', 'model', 'KM', 'year', 'price',
       'sd', 'deiscription'],
      dtype='object')

In [42]:
data=data.drop(['Unnamed: 0'],axis=1)

In [21]:
data

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,brand,model,KM,year,price,sd,deiscription
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bajaj,Others,"2,500 km",2019,"₹ 1,90,000",Dominar 400 ABS 2019,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Hero Honda,Hunk,"35,000 km",2008,"₹ 5,000",A bike good condition,NaN
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,Yamaha,Others,"15,000 km",1988,"₹ 35,000",Yamaha rx100,NaN
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,Yamaha,Others,"23,500 km",2019,"₹ 45,500",Wheel alignment wheel alignment,NaN
4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,Bajaj,Pulsar,"18,000 km",2017,"₹ 35,000",Nike bike new Surendra good condition,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bajaj,Pulsar,"42,000 km",2014,"₹ 33,000",பஜாஜ் pulsar 150,None
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Honda,CB,"63,400 km",2012,"₹ 40,000",Exchange with Yamaha FZ,None
1310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Royal Enfield,Bullet,11 km,1992,"₹ 1,45,000",Royal enfield 350 standrd old model,None
1311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha,FZ,"33,000 km",2016,"₹ 55,000","FZ-16, version 1.0, 153cc, 5 years old bike in...",None
1312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bajaj,Others,"50,000 km",2005,"₹ 25,000",New leni h bas,None

In [13]:
data = data.drop('deiscription',axis = 1)

In [15]:
data[88:115]

,brand,model,KM,year,price,sd,Unnamed: 0
23,Hero,Deluxe,"13,061 km",2018,"₹ 26,500",Only new bike,23.0
24,Royal Enfield,Classic,"39,000 km",2015,"₹ 1,05,000",Well maintained single user Royal Enfeild Clas...,24.0
25,Hero,Others,"1,800 km",2020,"₹ 95,000",New Hero Xtreme 160r Bs-6,25.0
26,TVS,Others,"15,900 km",2019,"₹ 2,15,000",Apache RR310 2019 model Single Owner Very well...,26.0
27,Honda,CB,"28,000 km",2017,"₹ 54,000","I want to sell my Honda Cb shine, BS4 2017 mod...",27.0
28,Yamaha,Others,"9,500 km",2019,"₹ 52,000",Bhubaneswar shall,28.0
29,Bajaj,Platina,"30,000 km",2019,"₹ 34,999",April 2019,29.0
30,Royal Enfield,Classic,"11,000 km",2019,"₹ 90,000",Mint condition selling chocolate pink city,30.0
31,Suzuki,Gixxer,"11,126 km",2019,"₹ 95,000",Suzuki Gixxer SF,31.0
32,TVS,Star City Plus,"40,000 km",2009,"₹ 18,500",Good condition in bike,32.0
33,Hero,Super Splendor,"31,000 km",2016,"₹ 33,000",Super spledor excellent condition model 2016,33.0
34,Bajaj,Discover,45 km,2007,"₹ 8,000",Mujhe jarurat nhi hai bhai,34.0
35,Bajaj,Platina,"22,900 km",2011,"₹ 22,000","Bajaj platina , with DTSI engine",35.0
36,Honda,CB,"80,000 km",2012,"₹ 21,000",I want to sell my bike,36.0
37,TVS,Star Sport,"22,000 km",2014,"₹ 25,000",Tvs sport bike sale,37.0
38,Honda,CB,"60,000 km",2014,"₹ 43,000",honda shain,38.0
39,Honda,Others,"33,043 km",2016,"₹ 72,000",Honda unicorn,39.0
40,Royal Enfield,Bullet,"47,121 km",2008,"₹ 55,000",Money problem money problem,40.0
41,TVS,Heavy Duty Super XL,"22,000 km",2015,"₹ 23,000",Tvs xl super heavy duty ( model - 2015 ) ( 220...,41.0
42,Hero,Passion,"22,000 km",2015,"₹ 42,000",Hero passion pro ( model - 2015 ) ( 22000 km ),42.0
43,Suzuki,Gixxer,"1,300 km",2020,"₹ 1,60,000",Its Gixxer 250 CC having only 9 months old & r...,43.0
44,Hero,Splendor,"9,902 km",2019,"₹ 25,500",Well well condition,44.0
45,Royal Enfield,Classic,"13,580 km",2019,"₹ 75,000",Nice good condition,45.0
46,Hero Honda,Karizma,"30,000 km",2014,"₹ 37,000","Full showroom condition , self start all compl...",46.0
47,Hero,Splendor,"15,000 km",2018,"₹ 25,500",New @bike @New @bike @New @bike@ New@ bike,47.0
48,TVS,Star City Plus,"23,000 km",2007,"₹ 12,500",Single owner good condition sale stay city,48.0
49,Suzuki,Gixxer,"32,000 km",2014,"₹ 45,000","Suzuki Gixxer, Model Oct 2014",49.0

In [22]:
data.to_csv("olx.csv")